html {
    font-size: 10px;
    font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', ‘sans-serif’;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
}
  
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}
  
body {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    line-height: 2;
    font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', ‘sans-serif’;
    color: 'black'; 
}

@media only screen 
and (min-width : 1024px) 
{
    body {
        height: 100%;
    }
}

form {
    width: 80%;
}

@media only screen and (max-width:414px)  { 
    form {
        width: 95%; 
    }
}

button {
    font-size: 1.6rem;
}


/* Form */

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media only screen 
and (min-width: 320px) 
and (orientation: portrait) { 
    .form {
        margin-top: 1rem; 
        margin-bottom: 1rem;
    }
}

@media only screen 
and (min-width : 320px) 
and (max-width : 1280px) 
and (orientation : landscape) {
    .form {
        margin-top: 2rem; 
        margin-bottom: 2rem;
    }
}


.form-text {
    margin: 0.5rem;
}

.form-errors {
    display: flex;
    flex-direction: column;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}

.form-section {
    margin: 0 2rem;
}

.form-input {
    border-radius: 5px;
    border: none;
    border: solid 1px #acacac;

    -moz-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Top Section */

.form-input__top {
    margin-bottom: 2rem;
}

.form-input__top--textarea {
    height: 10rem;
    margin-bottom: 2rem;
}

.form-top__label {
    margin-bottom: 0.5rem;
}

.form-top__container {
    display: flex;
    flex-direction: column;
}

/* Bottom Section */

.form-bottom__item {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.form-bottom__item-img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.form-bottom__item-radio-btn {
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    cursor: pointer;
}

.form-bottom__item-text {
    flex-grow: 4;
}

.form-bottom__item-remove-btn {
    margin-left: 2rem;
    border: none;
    background: none;
    font-size: 2.2rem;
    cursor: pointer;
}

.form-bottom__add-answer-btn {
    border: none;
    background: none;
    cursor: pointer;
    color:  #0275d8;
    font-weight: bold;
}

/* Save and Cancel buttons */

.form-buttons {
    margin-top: 4rem;
    display: flex;
    justify-content: flex-start;
}

.form-buttons__button {
    border-radius: 8px;
    height: 4rem;
    width: 7rem;
    border-style: solid;
    cursor: pointer;
}

.form-buttons__button--save {
    color: #ffffff;
    background-color: #0275d8;
}

.form-buttons__button--cancel {
    background-color: 	#cfcfcf;
    margin-left: 2rem;
}

/* Custom answer */
.custom-input {
    height: 4rem;
    text-indent: 1rem;
}

